# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Downloaded datasets
data/raw/*.csv
data/raw/*.zip

# Generated processed data
data/processed/*
!data/processed/.gitkeep

# Saved models
models/*.pkl
models/*.joblib